# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*~

# Directories
.env
.venv
env/
venv/
ENV/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# pyenv
.python-version

# pipenv
Pipfile.lock